{% extends 'base.html.twig' %}

{% block title %}Jeu #{{ game.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{game.poster}}" alt="{{ game.name }} poster">
    </div>

    <div class="media-body">
        <h1 class="mt-0">{{ game.name }}</h1>
        <p>{{ game.description }}</p>
        <p>Catégorie : {{ game.category.name }}</p>
    </div>
    
    <div id="retourjeu">
        <a href="{{ path('game_index') }}">Retour à la liste des jeux</a>
    </div>
    <div id="miseajourjeu">
        <a href="{{ path('game_edit', {'id': game.id}) }}">Mise à jour</a>
    </div>
    <div id="supprimerjeu">
        {{ include('game/_delete_form.html.twig') }}
    </div>
{% endblock %}
